#plus-btn {
  width: 2.8rem;
  height: 2.5rem;
  font-size: 0.95rem;
  color: #45629b;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #45629b;
  border-radius: 25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /*top of the content*/
  display: none;
  transition: color 0.2s, background-color 0.2s ease-in-out;
}

#tag_ann {
  width: 25rem;
  height: 2.5rem;
  font-size: 0.95rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /*top of the content*/
  display: none;
}

#plus-btn:hover {
  color: #fff;
  background-color: #45629b;
}

#plus-btn i {
  pointer-events: none;
}

#highlight-btn {
  width: 2.8rem;
  height: 2.5rem;
  font-size: 0.95rem;
  color: #45629b;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #45629b;
  border-radius: 25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /*top of the content*/
  display: none;
  transition: color 0.2s, background-color 0.2s ease-in-out;
}

#highlight-btn:hover {
  color: #fff;
  background-color: #45629b;
}

#highlight-btn i {
  pointer-events: none;
}

#tag-btn {
  width: 2.8rem;
  height: 2.5rem;
  font-size: 0.95rem;
  color: #45629b;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #45629b;
  border-radius: 25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /*top of the content*/
  display: none;
  transition: color 0.2s, background-color 0.2s ease-in-out;
}

#tag-btn:hover {
  color: #fff;
  background-color: #45629b;
}

#tag-btn i {
  pointer-events: none;
}

.tagBtnEntrance {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: highBtnEntrance;
}

.highBtnEntrance {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: highBtnEntrance;
}
.btnEntrance {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

.like__btn {
  padding: 5px 10px;
  background: #45629b;
  border: none;
  outline: none;
  color: #e8efff;
  border-radius: 5px;
  cursor: pointer;
}

.dislike__btn {
  padding: 5px 10px;
  background: #45629b;
  border: none;
  outline: none;
  color: #e8efff;
  border-radius: 5px;
  cursor: pointer;
}

.highlighttext {
  font-size: 8px;
}

.annotatetext {
  font-size: 8px;
}

.tagtext {
  font-size: 8px;
}

.highlight {
  background-color: yellow;
 
}

.highlighted {
  background: rgb(208, 176, 33);
  color: rgb(17, 15, 15);
}

@keyframes highBtnEntrance {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

@keyframes btnEntrance {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

/*for smaller screens*/
@media (max-width: 992px) {
  .container {
    padding: 1.25rem 6rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .container {
    padding: 1rem 3rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  hr {
    margin: 1.5rem 0;
  }
}
