#control {
    background-image: url("data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width='40px' height='40px'><foreignObject width='40px' height='40px'><div xmlns='http://www.w3.org/1999/xhtml' style='width:40px;height:40px;line-height:40px;text-align:center;color:transparent;text-shadow: 0 0 yellow, 2px 4px black, -1px -1px black;font-size:35px;'>💬</div></foreignObject></svg>");
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
}

#control::before {
    background-color: black;
    color: white;
    content: " annotate ";
    display: block;
    font-weight: bold;
    margin-left: 37px;
    margin-top: 6px;
    padding: 2px;
    width: max-content;
    height: 20px;
}