{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Comments {% endblock %}

{% block content %} 

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="../../static/css/details.css" type="text/css">
</head>

<body>
<div class="annotation_list"> New Comment</br>
    <div class="content-section">
    </br>
        <form method="POST">
        {{ form.errors }}
        {% csrf_token %} 
        <fieldset class="form-group">
            {{ form | crispy }}
        </fieldset>
      </br>
          <div class="form-group">
            <button class="btn btn-outline-secondary" type="submit">Comment</button>
            <a href=""><button type="button" class="btn btn-outline-secondary">Cancel</button></a>
          </div>
      </form></br>
    </div> 
  </div>
</body>

{% endblock %}
