{% extends 'base.html' %} 
{% load static %}

{% block content %} 

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="../../static/css/details.css" type="text/css">
</head>

<body>
{% for comment in comments %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-sm-12">
            <div id="full-text" class="card-body mb-3">
                <h6 class="text-muted">Comment by {{ user.username }} on {{ comment.created | date:"F d, Y"}}</h6>
                <p id="paragraph" class="card-text">{{ article.title }}</p>
                <p id="paragraph" class="card-text">{{ comment.body }}</p>
                <button class="like__btn">
                    <span id="likeicon"><i class="far fa-thumbs-up"></i></span>
                    <span id="countup">0</span>
                </button>
                <button class="dislike__btn">
                    <span id="dislikeicon"><i class="far fa-thumbs-down"></i></span>
                    <span id="countdown">0</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script src="../../static/js/details.js"></script> 
</body>

{% endblock %}

