{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}

    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
        <link rel="stylesheet" href="../../static/css/details.css" type="text/css">
        <style>
            * {
            box-sizing: border-box;
            }

            .row {
            margin-left:-5px;
            margin-right:-5px;
            }

            .column {

            padding: 5px;
            }
            table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
            }

            th, td {
            text-align: left;
           
            }

            tr:nth-child(even) {
            background-color: #f2f2f2;
            }
        </style>  
    </head>
    <style>#paragraph {
        text-align: justify;
    }</style>
    <body>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-sm-12">
                <div id="full-text" class="card-body mb-3 selectable-text-area">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <div id="slug" style="display: none;">{{ article.slug }}</div>
                    <div id="article_id" style="display: none;">{{ article.id }}</div>
                    <div id="csrf_token" style="display: none;">{% csrf_token %}</div>
                    <br>
                    <h6 class="card-text"><strong>Authors: </strong> {{ article.authors|safe }}</h6>
                    <h6 class="card-text"><strong>Publish Date:</strong> {{ article.publish_date }}</h6>
                    <h6 class="card-title"><strong>PMID:</strong> {{ article.pmid }}</h6>
                    <br>
                    <p id="headline" class="card-text"><strong>Abstract:</strong></p>
                    <p id="paragraph" class="card-text">{{ article.body }}
                        {% comment %}                            <!-- {% for text in article.body.split %}
                                <span class={{ text }}>{{ text }}</span>
                            {% endfor %} -->{% endcomment %}
                        {#                    <span class="highlight" {{ articleannotation.target }}></span>#}
                    </p>
                    <p class="card-text"><strong>Keywords:</strong> {{ article.keywords|safe }}</p>

                    <p class="card-text"><strong>Tags:</strong> {% for x in tags %}
                        <a target="_blank" href="{{ x.url }}">
                            <button>{{ x.name }}</button>
                        </a> {% endfor %}</p>
                    <p class="card-text"><strong>Annotations:</strong> {% for x in annotation_tags %}
                        <a target="_blank" href="{{ x.url }}">
                            <button>{{ x.name }}</button>
                        </a> {% endfor %}</p>
                        <p class="card-text"><strong>Annotated Text:</strong> {% for y in values %}
                            <p class="highlight" style="color:black">{{ y }}</p>
                        {% endfor %}
                        </p>
                    {#<p class="card-text"><small class="text-muted">Publish Date {{ article.publish_date }}</small></p>#}
                    <p class="card-text"><small class="text-muted">Last
                        Update {{ article.update_date|timesince }}</small></p>
                </div>
            </div>
        </div>
    </div>
    <input id="tag_ann"></input>
    <button id="plus-btn"><i class="fas fa-quote-right"></i>
        <p class="annotatetext">Annotate</p></button>
    <button onclick="window.open('{% url 'tag' article.id %}')" id="tag-btn"><i class="fas fa-tags"></i>
        <p class="tagtext">Tag</p></button>
    {#<button id="plus-btn"><a href="{% url 'tag' article.id %}"><i class="success">Annotate</i></a></button>#}

    <h6>
        <li class="list-group-item mb-3">
            <a href="{% url 'tag' article.id %}">Tag</a> <!--bir card başlığını linklemek için kullanılan yapı-->
        </li>
    </h6>
    <h6>
        {#        <li class="list-group-item mb-3">#}
        {#            <a href="{% url 'add_comment' article.id %}">Comment</a>#}
        {#            <!--bir card başlığını linklemek için kullanılan yapı-->#}
        {#        </li>#}
    </h6>
    <h6>
        <li class="list-group-item mb-3">
            <a href="{% url 'report' article.id %}">Report</a> <!--bir card başlığını linklemek için kullanılan yapı-->
        </li>
    </h6>
 
<div class="row">
    <div class="column"> 
        <table>
            <tr>
                <th>Annotation</th>
                <th>Link</th>
                <th>Creator</th>

            </tr>
            {% for x in annotation_tags %}
            <tr>
                <td><a target="_blank" href="{{ x.url }}">
                    <button>{{ x.name }}</button>
                </a></td>
                <td><a target="_blank" href="{{ x.url }}"><p>{{ x.url }}</p></a></td>
                <td><a href="{% url 'profile-detail' x.user.profile.id %}">{{ x.user }}</a></td>
            </tr>
            {% endfor %}
            
        </table>
    </div>

</div>

    <form method="post">
        {% csrf_token %}
        <div id="user-selection" class="form-group">
            <label for="user-selection"></label>
            <input id="text-selection" class="form-control" type="hidden" value="" name="text-selection" readonly>
            <input id="start-index" class="form-control" type="hidden" name="start-index" value="0">
            <input id="end-index" class="form-control" type="hidden" name="end-index" value="-1">
        </div>
    </form>

    </body>


{% endblock %}

{% block extra_script %}
    <script src="../../static/js/details.js"></script>
{% endblock %}