{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}

    <h4> 
      <br>
      Top recommendations for you:
      <br>
      <br>
    </h4>
{% for article in articles %}

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-sm-12">
        <div class="card-body mb-3">
          <h5 class="card-title">
            <a href = "{% url 'details' slug=article.slug %}">
              {{ article.title }}
            </a>
          </h5>
          <h6 class="card-text">Author(s): {{ article.authors|safe }}</h6>
          <p class="card-text">{{ article.body|safe|truncatechars_html:300 }}</p>
          <p class="card-text">Keyword(s): {{ article.keywords|safe }}</p> 
          <p class="card-text"><small class="text-muted">Publish Date {{ article.publish_date }}</small></p>
          <p class="card-text"><small class="text-muted">MediSearch Publish Date {{ article.update_date }}</small></p>

        </div>
      </div>
    </div>
  </div>
{% empty %}

<p>We couldn't find any article related to your search.</p>

{% endfor %}

<div class="container p-4">
  <div class="pagination justify-content-center">
      <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

          <span class="current">
              Page {{ articles.number }} of {{ articles.paginator.num_pages }}
          </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
            <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
      </div>
  </div>

{% endblock %}