{% extends 'base.html' %} <!--bir bas html dosyası oluşturduk çünkü hepsini üstüne kullanıcaz config seetings dir üstünde güncellemesi var-->
{% load crispy_forms_tags %} <!--crispy formları kullanabilmek için önce indirdik pipenv install diyip ardından html dosyalarına da koyuyoruz-->


{% block title %} Login {% endblock %} <!--sayfanın başlığı-->

{% block content %}
    <form method="POST">

        {{ form.non_field_errors }}

        {% csrf_token %} <!--bir form gönderebilmek için bu eklenmeli validasyonla alakalı-->

        {{ form | crispy }}
        <!--oluşturduğumu iletişim formunu buraya direkt verince iletişim sayfasında yorumlanıyor html olarak navbar vs şeylere hala ihtiyaç var-->

        <p>Don't have an account? Create one <a href="{% url 'createaccount' %}">Here</a></p>
        <button type="Submit" class="btn btn-success">Login</button>

    </form>


{% endblock %}
    
    