{% extends 'base.html' %}
{% block title %} advancedSearch {% endblock %}

{% block content1 %}

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
  </head>
  <body>


         <form action= "{% url 'advancedSearch' %}" class="row g-3">
        <div class="col-md-6">
              <input class="form-control me-2" name = "advancedSearch" type="search" placeholder="Search" aria-label="advancedSearch" value="{{ request.GET.advancedSearch }}">
        </div>

         <div class="col-md-3">
             <select class="form-select" data-trigger="" name="fromYear" value="{{ request.GET.fromYear }}">

                      <option selected disabled>From (Year)</option>

                      {% for item in dateList %}
                        <option>{{ item }}</option>
                      {% endfor %}
             </select>
         </div>

         <div class="col-md-3">
             <select class="form-select" data-trigger="" name="toYear" value="{{ request.GET.toYear }}">
                    <option selected disabled>To (Year)</option>
                    {% for item in dateList %}
                      <option>{{ item }}</option>
                    {% endfor %}
             </select>
         </div>

             <div class="col-md-6">

                 <select class="form-select" data-trigger="" name="tagAnnotationChoice" value="{{ request.GET.tagAnnotationChoice }}">
                     <option selected disabled>Search Options for Tags and Annotations</option>
                     <option value="includeTag">Include Tags</option>
                     <option value="includeAnnotation">Include Annotations</option>
                     <option value="includeBoth">Include Tags and Annotations</option>
                     <option value="onlyTag">Search only Tags</option>
                     <option value="onlyAnnotation">Search only Annotations</option>
                     <option value="onlyBoth">Search only Tags and Annotations</option>
                     <option value="none">Without Tags and Annotations</option>
                 </select>

             </div>

             <div class="col-md-6">
                 <select class="form-select" data-trigger="" name="orderArticles" value="{{ request.GET.orderArticles }}">
                      <option value="newestFirst">Newest to Oldest</option>
                      <option value="oldestFirst">Oldest to Newest</option>
                 </select>
             </div>

             <button class="btn btn-success" type="submit" value="Search" name="Search">Search</button><br><br>
{#            <div class="form-row">#}
{#                 <input class="form-control me-2" name = "searchTag" type="search" placeholder="Search in Tags" aria-label="searchTag" value="{{ request.GET.searchTag }}">#}
{#                <input class="form-control me-2" name = "searchAnnotation" type="search" placeholder="Search in Annotations" aria-label="searchAnnotation" value="{{ request.GET.searchAnnotation }}">#}
{#            </div>#}

        </form>

{#<form action= "{% url 'advancedSearch' %}">#}
{##}
{#<br>#}
{#  <div class="form-row">#}
{#      <select class="form-select" data-trigger="" name="Include Tag" value="{{ request.GET.includeTag }}">#}
{#        <option value="excludeTag">EXCLUDE</option>#}
{#        <option value="includeTag">INCLUDE</option>#}
{#      </select>#}
{##}
{#        <div class="form-group col-md-6" style="width: 50%; float: left">#}
{#          <label for="searchTag">Tag:</label>#}
{#            <input class="form-control me-2" id="searchTag" name = "searchTag" type="search" placeholder="Search in Tags" aria-label="searchTag" value="{{ request.GET.searchTag }}">#}
{#        </div>#}
{##}
{#      <select class="form-select" data-trigger="" name="Include Annotation" value="{{ request.GET.includeAnnotation }}">#}
{#        <option value="excludeAnnotation">EXCLUDE</option>#}
{#        <option value="includeAnnotation">INCLUDE</option>#}
{#      </select>#}
{##}
{#        <div class="form-group col-md-6" style="width: 50%; float: right">#}
{#          <label for="searchAnnotation">Annotation:</label>#}
{#            <input class="form-control me-2" id="searchAnnotation" name = "searchAnnotation" type="search" placeholder="Search in Annotations" aria-label="searchAnnotation" value="{{ request.GET.searchAnnotation }}">#}
{#        </div>#}
{#  </div>#}
{##}
{#</form>#}


{% if advancedSearch %}

<h3>
  <br>
  <strong>{{ counter }}</strong> articles match for <strong>"{{ advancedSearch }}"</strong> between <strong>"{{ fromYear }}"</strong> and <strong>"{{ toYear }}"</strong>
</h3>

<div style="text-align: center">
        {% autoescape off %}
            {{ plot_div }}
        {% endautoescape %}
</div>


    {% for article in articles %}
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-sm-12">
            <div class="card-body mb-3">
              <h5 class="card-title">
                <a href = "{% url 'details' slug=article.slug %}">
                  {{ article.title }}
                </a>
              </h5>
              <h6 class="card-text">Author(s): {{ article.authors|safe }}</h6>
              <p class="card-text">{{ article.body|safe|truncatechars_html:300 }}</p>
              <p class="card-text">Keyword(s): {{ article.keywords|safe }}</p>
              <p class="card-text"><small class="text-muted">Publish Date {{ article.publish_date }}</small></p>
              <p class="card-text"><small class="text-muted">MediSearch Publish Date {{ article.update_date }}</small></p>

            </div>
          </div>
        </div>
      </div>
{% empty %}

<p>We couldn't find any article related to your search.</p>

{% endfor %}

    {% elif advancedSearch == '' %}
    <h3>
  <br>
  <strong>{{ counter }}</strong> articles are founded between <strong>"{{ fromYear }}"</strong> and <strong>"{{ toYear }}"</strong>
</h3>

<div style="text-align: center">
        {% autoescape off %}
            {{ plot_div }}
        {% endautoescape %}
</div>


    {% for article in articles %}
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-sm-12">
            <div class="card-body mb-3">
              <h5 class="card-title">
                <a href = "{% url 'details' slug=article.slug %}">
                  {{ article.title }}
                </a>
              </h5>
              <h6 class="card-text">Author(s): {{ article.authors|safe }}</h6>
              <p class="card-text">{{ article.body|safe|truncatechars_html:300 }}</p>
              <p class="card-text">Keyword(s): {{ article.keywords|safe }}</p>
              <p class="card-text"><small class="text-muted">Publish Date {{ article.publish_date }}</small></p>
              <p class="card-text"><small class="text-muted">MediSearch Publish Date {{ article.update_date }}</small></p>

            </div>
          </div>
        </div>
      </div>
{% empty %}

<p>We couldn't find any article related to your search.</p>

{% endfor %}

{% endif %}


{% endblock %}