{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title %} Following {% endblock %}

{% block content %} 


{% for profile in user.profile.follower.all %}
    <div class="card mb-3">
        <div class="card-body mb-3">  
            <article class="media content-section"> 
                <img class="rounded-circle article-img" src="{{ user.avatar.url }}" width="50" height="50">       
                    <a href="{% url 'profile-detail' profile.pk %}">{{ profile }}</a>   
            </article> 
        </div>
    </div>
{% endfor %}

{% endblock %}