{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title %} Profile {% endblock %}

{% block content %} 

<head>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .update{
            text-decoration: none;
        }
    </style>        
</head>

<div class="card mb-3">
    <div class="card-body mb-3">
        <div class="content-section">
            <div class="media">
                <br>
            <img class="center rounded-circle account-img" src="{{ object.user.avatar.url }}" width="80" height="80">
            <div class="media-body">
                <center><p class="account-heading">{{ object }}</p>
                <!-- <a class="update" style="font-size:90%;" href="">Following</a>
                <a class="update" style="font-size:90%;" href=""> &ensp; Followers</a> -->
                <p></p>
                {% if follow %}
                    <form action="follow" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{object.pk}}>
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Unfollow</button>
                    </form>
                {% else %}
                    <form action="follow" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{object.pk}}>
                        <button class="btn btn-success btn-sm" style="margin-right: 10px;" type="submit">Follow</button>
                    </form>
                {% endif %}
            </center>
            </div>  
            </div>              
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group"> <br>
                    <legend class="border-bottom mb-5">Activities: {{ user.activities }}
                        {% for activity in object.activities.all %}
                            {% if activity.activity_JSON.target.type == "Article" %}
                                <li>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.actor.url }}"> {{ activity.activity_JSON.actor.name }} </a>
                                <a style="font-size: medium"> tagged the article </a>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.target.attributedTo }}"> "{{ activity.activity_JSON.target.name }}" </a>
                                <a style="font-size: medium"> with the tag </a>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.object.url }}"> "{{ activity.activity_JSON.object.name }}" </a>
                                <a style="font-size: medium"> at </a>
                                <a style="font-size: medium"> {{ activity.activity_JSON.published }} </a>
                                </li>
                            {% elif activity.activity_JSON.target.type == "Note" %}
                                <li>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.actor.url }}"> {{ activity.activity_JSON.actor.name }} </a>
                                <a style="font-size: medium"> annotated the article </a>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.target.attributedTo }}"> "{{ activity.activity_JSON.target.name }}" </a>
                                <a style="font-size: medium"> with the tag </a>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.object.url }}"> "{{ activity.activity_JSON.object.name }}" </a>
                                <a style="font-size: medium"> at </a>
                                <a style="font-size: medium"> {{ activity.activity_JSON.published }} </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </legend>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}