{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title %} Profile {% endblock %}

{% block content %} 

<head>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .update{
            text-decoration: none;
        }
    </style>        
</head>

<div class="card mb-3">
    <div class="card-body mb-3">
        <div class="content-section">
            <div class="media">
            <img class="center rounded-circle account-img" src="{{ user.avatar.url }}" width="80" height="80">
            <div class="media-body">
                <center><p class="account-heading">{{user.username}}</p>
                <p class="text-secondary">{{user.email}}</p>
                <a class="update" style="font-size:90%;"href="{% url 'profilesettings' %}">Update Profile</a><br>
                <a class="update" style="font-size:90%;" href="{% url 'followings' %}">Following</a>
                <a class="update" style="font-size:90%;" href="{% url 'followers' %}"> &ensp; Followers</a></center>
            </div>  
            </div> 
        
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group"> <br>

                <legend class="border-bottom mb-5">Activities:
                        {% for activity in user.profile.activities.all %}
                            {% if activity.activity_JSON.target.type == "Article" %}
                                <li>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.actor.url }}"> {{ activity.activity_JSON.actor.name }} </a>
                                <a style="font-size: medium"> tagged the article </a>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.target.attributedTo }}"> "{{ activity.activity_JSON.target.name }}" </a>
                                <a style="font-size: medium"> with the tag </a>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.object.url }}"> "{{ activity.activity_JSON.object.name }}" </a>
                                <a style="font-size: medium"> at </a>
                                <a style="font-size: medium"> {{ activity.activity_JSON.published }} </a>
                                </li>
                            {% elif activity.activity_JSON.target.type == "Note" %}
                                <li>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.actor.url }}"> {{ activity.activity_JSON.actor.name }} </a>
                                <a style="font-size: medium"> annotated the article </a>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.target.attributedTo }}"> "{{ activity.activity_JSON.target.name }}" </a>
                                <a style="font-size: medium"> with the tag </a>
                                <a style="font-size: medium" href="{{ activity.activity_JSON.object.url }}"> "{{ activity.activity_JSON.object.name }}" </a>
                                <a style="font-size: medium"> at </a>
                                <a style="font-size: medium"> {{ activity.activity_JSON.published }} </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </legend>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}