<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'homepage' %}">AnnotateMed</a>
      
      


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          
        </ul>
        <form action= "{% url 'search' %}" class="d-flex">
          <input class="form-control me-2" name = "search" type="search" placeholder="Search" aria-label="Search" value="{{ request.GET.search }}">
          <button class="btn btn-success" style="margin-right: 10px;" type="submit">Search</button>
        </form>
         <a href="{% url 'advancedSearch' %}"><button class="btn btn-success" style="margin-right: 10px;" type="submit">Advanced Search</button></a>



        
      </div>
    </div>
  </nav>