{% load crispy_forms_tags %}
<div class="card">
    <div class="card-header">
      Menu
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'homepage' %}">Homepage</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'profile' %}">My Profile</a>
  </li>
    <li class="list-group-item">
      <a href="{% url 'profilesettings' %}">Profile Settings</a>
  </li>
  </li>
  <li class="list-group-item">
    <a href="{% url 'profile-list' %}">Activities</a>
  </li>
      <li class="list-group-item">
        <a href="{% url 'changepassword' %}">Change Password</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'aboutus' %}">About Us</a>
  </li>
      <li class="list-group-item">
        <a href="{% url 'logout' %}">Logout</a>
    </li>
    </ul>
  </div></br>
 
<!--   {% block content %}
  
  <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">New Annotation</legend>
              {{ form | crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Annotate</button>
              <a href=""><button type="btn btn-outline-info" class="mt-3 mb-3">Cancel</button></a>
          </div>
      </form>
  </div>

  {% endblock content %}
 -->
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="../../static/css/details.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
<body>

  {% for annotation in annotations %}
    <p class="card-text">{{ annotate.content }}</p>
    <small class="text-muted">Annotated by {{ annotate.author }} on {{ annotate.date_posted }}</small>
    <button class="like__btn">
      <span id="likeicon"><i class="far fa-thumbs-up"></i></span>
      <span id="countup">0</span>
    </button>
    <button class="dislike__btn">
      <span id="dislikeicon"><i class="far fa-thumbs-down"></i></span>
      <span id="countdown">0</span>
    </button>
  {% endfor %}

    
</body>

  